{{Extend "layout"}}
{{Block "title"}}{{"离线下载"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"离线下载"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header clearfix">
				<h3 class="pull-left">{{"离线下载"|$.T}}</h3>
				<div class="pull-left sm-margin-left">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{{"Task"|$.T}} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li>
							<a href="javascript:;" data-toggle="modal" data-target="#myModal">{{"Add download"|$.T}}</a>
						</li>
						<li id="dlctrl-remove">
							<a href="javascript:;">{{"Delete download"|$.T}}</a>
						</li>
					  </ul>
					</div>
					
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{{"Action"|$.T}} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
							<li id="dlctrl-start">
								<a href="javascript:;">{{"Start"|$.T}}</a>
							</li>
							<li id="dlctrl-stop">
								<a href="javascript:;">{{"Stop"|$.T}}</a>
							</li>
							<li class="divider"></li>
							<li id="dlctrl-restart">
								<a href="javascript:;">{{"重新下载"|$.T}}</a>
							</li>
							<li class="divider"></li>
							<li id="dlctrl-start-all">
								<a href="javascript:;">{{"Start all"|$.T}}</a>
							</li>
							<li id="dlctrl-stop-all">
								<a href="javascript:;">{{"Stop all"|$.T}}</a>
							</li>
					  </ul>
					</div>
				</div><!-- /.pull-left -->
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover" id="fileTable">
					<thead class="no-border">
						<tr>
	<th width="30">
		<div class="checkbox checkbox-success no-margin">
			<input id="checkbox-all" class="styled allCheck" type="checkbox" value="-1" /><label for="checkbox-all"></label>
		</div>
	</th>
	<th width="30">#</th>
	<th style="max-width:50%">{{"File Name"|$.T}}</th>
	<th width="100" class="hidden-xs">{{"Size"|$.T}}</th>
	<th width="100" class="hidden-xs">{{"Downloaded"|$.T}}</th>
	<th width="40" class="hidden-xs">%</th>
	<th width="100" class="hidden-xs">{{"Speed"|$.T}}</th>
	<th style="min-width:40%">{{"Progress"|$.T}}</th>
						</tr>
					</thead>
					<tbody class="no-border-y" id="fileList">
					</tbody>
				</table>		
				</div>
			</div>
		</div>				
	</div>
</div>


<script type="text/template" id="tr-template">
<tr>
<td id="chk-{Id}">
	<div class="checkbox checkbox-success no-margin">
		<input id="checkbox-{Id}" class="styled idCheck" type="checkbox" value="{Id}" /><label for="checkbox-{Id}"></label>
	</div>
</td>
<td id="id-{Id}">{Id}</td>
<td id="name-{Id}">{FileName}</td>
<td id="size-{Id}" class="hidden-xs">{Size}</td>
<td id="downed-{Id}" class="hidden-xs">{Downloaded}</td>
<td id="percent-{Id}" class="hidden-xs">{Percent}</th>
<td id="speed-{Id}" class="hidden-xs">{Speed}</td>
<td id="progress-{Id}">{Progress}</td>
</tr>
</script>
<!-- Modal -->
<div class="modal fade" id="≈" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{"Enter Url"|$.T}}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label sm-margin-top">{{"Url"|$.T}}:</label>
					<div class="controls">
						<input type="text" id="url_id" class="form-control" value="https://sciter.com/sdk/sciter-sdk.zip">
					</div>
					<label class="control-label sm-margin-top">{{"Save path"|$.T}}:</label>
					<div class="controls">
						<input type="text" id="save_path_id" class="form-control typeahead" data-provide="typeahead" value="sciter-sdk.zip">
					</div>
					<label class="control-label sm-margin-top">{{"Parts count"|$.T}}:</label>
					<select class="form-control" id="part_count_id">
						<option>1</option>
						<option>2</option>
						<option>4</option>
						<option>8</option>
						<option>16</option>
					</select>
					<div id="select-pipes" style="display:none">
					<label class="control-label sm-margin-top">{{"Pipes"|$.T}}:</label>
					<div id="select-option-pipes"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="checkbox checkbox-success no-margin">
					<input id="dlopt-download-now" class="styled idCheck" type="checkbox" value="1" />
					<label for="dlopt-download-now">{{`立即下载`|$.T}}</label>
				</div>
				<a class="btn btn-primary" id="dlctrl-add" data-dismiss="modal">
					<i class="glyphicon glyphicon-plus"></i>
					{{"Add"|$.T}}
				</a>
			</div>
		</div>
	</div>
</div>
{{/Block}}

{{Block "footer"}}
<script type="text/javascript">
var tableHead={fileName:'{{"File Name"|$.T}}',size:'{{"Size"|$.T}}',downloaded:'{{"Downloaded"|$.T}}',speed:'{{"Speed"|$.T}}',progress:'{{"Progress"|$.T}}'};
var states={Completed:'{{"Completed"|$.T}}',Running:'{{"Running"|$.T}}',Stopped:'{{"Stopped"|$.T}}',Failed:'{{"Failed"|$.T}}'};
var pipes={{$.Stored.pipes|JSONEncode|ToJS}};
</script>
<script type="text/javascript" src="{{AssetsURL}}/js/sockjs.min.js"></script>
<script type="text/javascript" src="{{AssetsURL}}/dlmanager/js/download.min.js"></script>
{{/Block}}